.simple-counter {
    background-color: bisque;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.simple-counter button {
    margin: 5px;
    border: 0;
    background-color: brown;
    color: whitesmoke;
    border-radius: 50%;
}

.simple-counter button:disabled {
    background-color: grey;
}

.simple-counter .even {
    font-style: italic;
}
.simple-counter .low-number {
    color: green;
}
.simple-counter .high-number {
    color: red;
}
